[submodule "Frontend"]
	path = Frontend
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/frontend
[submodule "Microservices/user-service"]
	path = Microservices/user-service
	url = https://github.com/Javafest2025/user_service.git
[submodule "Microservices/api-gateway"]
	path = Microservices/api-gateway
	url = https://github.com/Javafest2025/api_gateway.git
[submodule "Microservices/notification-service"]
	path = Microservices/notification-service
	url = https://github.com/Javafest2025/notification_service.git
[submodule "Microservices/service-registry"]
	path = Microservices/service-registry
	url = https://github.com/Javafest2025/service_registry.git
[submodule "Microservices/project-service"]
	path = Microservices/project-service
	url = https://github.com/Javafest2025/project_service.git
[submodule "AI-Agents/extractor"]
	path = AI-Agents/extractor
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/extractor
[submodule "AI-Agents/paper-search"]
	path = AI-Agents/paper-search
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/paper-search
[submodule "AI-Agents/gap-analyzer"]
	path = AI-Agents/gap-analyzer
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/gap-analyzer
[submodule "Microservices/project_service"]
	path = Microservices/project_service
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/project_service
[submodule "Microservices/user_service"]
	path = Microservices/user_service
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/user_service
[submodule "Microservices/notification_service"]
	path = Microservices/notification_service
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/notification_service
[submodule "Microservices/api_gateway"]
	path = Microservices/api_gateway
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/api_gateway
[submodule "Microservices/service_registry"]
	path = Microservices/service_registry
	url = https://github.com/ScholarAI-Echologyx-Hackathon-2025/service_registry
